[tool.poetry]
name = "ssb-datadoc-model"
version = "4.3.0"
description = "Data Model for use in Statistics Norway's Metadata system"
authors = ["Statistics Norway <stat-dev@ssb.no>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/statisticsnorway/ssb-datadoc-model"

packages = [{ include = "datadoc_model" }]

[tool.poetry.dependencies]
python = ">=3.10"
pydantic = ">=2.5.2"

[tool.poetry.group.dev.dependencies]
black = ">=23.11.0"
ipython = ">=8.18.1"
pytest = ">=7.4.3"
pytest-cov = ">=4.1.0"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
